/*Logo animation*/

@keyframes animate-logo { 

    0%{
        stroke-dashoffset: 400;
        fill: none;
    }

    50%{
        stroke-dashoffset: 400;
    }

    100%{
        stroke-dashoffset: 0;
        stroke: #ffffff;
        fill: none;
    }
}

@keyframes  slogan {

    0%{
        font-size:5px;
        opacity: 0;
    }

   100%{
        font-size: 20px;
    }
}
