/*Logo animation*/

@keyframes animate-logo { 

    0%{
        stroke-dashoffset: 400;
        fill: none;
    }

    50%{
        stroke-dashoffset: 400;
    }

    100%{
        stroke-dashoffset: 0;
        stroke: #ffffff;
        fill: none;
    }
}

@keyframes  slogan {

    0% {
	    transform: scale(0);
	    opacity: 0;
    }

    100% {
	    transform: scale(1.2);
    }
}
