@media screen and (max-width:768px) {
    #home-container{
        max-height: 1024px;
        background-size: 650px;
    }

    .home-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main-container{
        width: 100%;
        max-height: 1024px;
        display: grid;
        justify-content: center;
        background-image: none;
        padding:1rem;
    }

    main::before{
        width: 100%;
        height: 100%;
        clip-path: circle(90% at bottom);
    }

    #date{
        font-size: 1rem;
        margin-top: 3rem;
    }

    #image-wrapper{
        width: 280px;
        height:280px;
        margin: auto;
    }

    #wrapper-profilePhoto{
        width: 250px;
    }

    #list-container h1{
        font-size: 3rem;
    }

    #list-container{
        width: 100%;
    }

    #list-container input{
        font-size: 3vw;
        padding: 3px;
        margin:2rem 10px;
    }
}

@media screen and (max-width:480px) {

    #btnDarkMode{
        width: 2rem;
    }
    #home-container{
        max-width: 90%;
        max-height: 640px;
        background-size: 300px;
        margin: auto;
    }

    form{
        width: 90%;
        height: 420px;
    }

    #main-container{
        max-height: 640px;
        display:grid;
    }

    main::before{
        width: 100%;
        height: 650px;
        clip-path: circle(90% at bottom);
    }

    #date{
        margin: 12px 0px;
        font-size: 12px;
    }

    #wrapper-profilePhoto{
        width: 180px;
    }
    
    #image-wrapper{
        width: 200px;
        height:200px;
    }

    #list-container h1{
        font-size: 1.2rem;
    }

    #list-container{
        width: 100%;
    }

    #input-text-box{
        margin: 1rem 0px;
    }
       
    #list-container input{
        font-size: 14px;
        padding: 7px;
        margin: 0;
    }

    #btn-check img{
        width: 30px;
    }

    #taskBox{
        width: 100%;
        max-height: 250px;
        margin:0;
    }

    #taskBox li{
        font-size: 12px;
        margin:5px auto;
        padding: 5px 10px;
    }
}