/*Home style*/
#btnDarkMode{
    position: absolute;
    width: 3rem;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.dark{
    background-color: #000011;
}

#photo-wrapper{
    position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    overflow: hidden;
    cursor: pointer;
}

#profile-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#choose-photo{
    position: absolute;
    width: 100%;
    padding: 1rem;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: none;
}

form{
    display: grid;
    place-items: center;
    width: 300px;
    height: 400px;
    margin-top: 5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to bottom, var(--purple), transparent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#name-input{
    width: 80%;
    font-size: 1.2rem;
    padding:5px;
    text-transform: capitalize;
    background-color:transparent;
    color: white;
    background-color: var(--glass);
    border-radius: 20px;
}

#name-input::placeholder{
    text-transform: uppercase;
    color: white;
}

#btn-Enter{
    font-size: 1rem;
    padding:5px 20px;
    color: var(--purple);
    border-radius: 20px;
    text-transform: uppercase;
    border: 3px solid var(--purple);
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 var(--purple);
    cursor: pointer;
}

#btn-Enter:hover{
    box-shadow: inset 150px 0 0 0 var(--purple);
    border: 2px solid var(--purple);
    color: white;
}

/*Main style*/

/*date and picture section style*/

#wrapper-profilePhoto{
    position: relative;
    width: 300px;
    clip-path: circle();
    object-fit: cover;
}

#image-wrapper{
    width: 350px;
    height:350px;
    border-radius: 50%;
    backdrop-filter: blur(10%);
    border:2px solid var(--purple);
}

#date{
    font-size: 1rem;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--purple);
}

/*List section style*/
#list-container h1{
    font-size: 3rem;
    text-transform: capitalize;
}

#list-container input{
    font-size: 1.5rem;
    padding: 5px;
    margin:1rem 5px;
    border-radius: 20px;
    color: black;
    text-transform: capitalize;
    box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.5);
}

#taskWrapper{
    width: 90%;
    margin: auto;
}

#taskBox{
    position: relative;
    margin: 1rem;
    max-height:350px;
    overflow-y: auto;
}

#taskBox li{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin:10px;
    padding: 7px;
    background-color: var(--glass);
    border-radius: 20px;
    cursor: pointer;
    text-transform: capitalize;
}
#taskBox li button{
    opacity: 0;
    cursor: pointer;
}

button  img{
    width: 1.2rem;
}

#btn-check img{
    width: 3rem;
}

::-webkit-scrollbar{
    background-color: var(--glass);
    border-radius: 20px;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 20px;
}

.btn-effect:hover{
    transition: ease-in .2s ;
    transform: scale(1.1);
}

#taskBox li:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

#taskBox li:hover button{
    opacity: 1;
    transition: ease 1s;
}
