/*Home*/
h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

#text_name{
    width: 250px;
    margin: 5rem;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
}

.container-blur .enter{
    position: absolute;
    bottom: 7%;
}

.button:hover{
    background-color: #F76C17;
    border:2px solid #F76C17;
    transform: translateY(-10px);
}

/*Pagamento*/

.pay .container-blur{
    display: flex;
    align-items: center;
}
.pay h2{
    margin: 4rem auto;
    font-size: 2rem;
    text-transform: uppercase;
}

.pay a{
    display: inline-block;
}

.pay .button{
    font-size: 14px;
    margin: 8px;
}

.icon-inf{
    width: 16px;
    cursor: pointer;
}

.pay section{
    position: absolute;
    border-radius: 20px;
    background-color: #010B40;
    display: none;
}

#minimo #atrasado{
    display: none ;
    padding: 10px;
}

.pag h1{
    font-size: 2rem;
    text-transform: uppercase;
}

.pay ul li{
    margin: 1rem;
    text-align: justify;
    line-height: 1.3rem;
}

/*Pagamento mínimo*/

.minimun .container-blur{
    position: absolute;
    height: 320px;
    top: 5%;
}

.minimun h1{
    padding: 1rem;
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.content-minimun{
    position: absolute;
    top: 0;
}

.minimun input{
    width: 80%;
    margin-bottom: 1rem;
    padding: 10px;

    border: none;
    outline: none;
    border-radius: 50px;

    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
}

.sim-card{
    margin:1.5rem auto;
}

.card-content1{
    position: absolute;
    text-align: left;
}

.card-content1 p{
  text-align: left;
}

.card-content2{
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.card-content2 p{
    text-align: right;
}

.icons{
    position: absolute;
    width: 90%;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons img{
    width: 2rem;
    cursor: pointer;
}

/*Após vencimento*/

.dias-atraso{
    font-size: 12px;
    margin-bottom: 34px;
}

