/*Home*/
.home h1{
    font-size: 10rem;
    
}

.home span{
    font-size: 4rem;
    color:#F76C17;
}

.home p {
    font-size: 20px;
    text-transform: none;
    max-width: 80%;
}

#square{
    position: absolute;
    width: 30px;
    height: 30px;

    top: 3.5rem;
    right: 12.3rem;
    background-color: #F76C17;
    border-radius: 10px;
}

#text_name{
    width: 250px;
    margin: 5rem;
    font-size: 1.2rem;
    border-radius: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: none;
}

.enter{
    margin-top: 1.5rem;
}

.button:hover{
    background-color: #F76C17;
    border:2px solid #F76C17;
    transform: translateY(-10px);
}

/*Opções de Pagamento*/
.pay .container-blur{
    display: flex;
    align-items: center;
}

.pay h1{
    font-size: 2.5rem;
}
.pay h3{
    padding: 5rem 0px;
}

.pay section{
    position: absolute;
    left: 0;
    padding: 5px;
    font-size: 12px;
    border-radius: 20px;
    background-color: #010B40;
}

ul, li{
    text-align: left;
    margin-top: 1rem;
}

#popupMinPay{
    display: none;
}

#popupLatePay{
    display: none;
}

.pay button{
    margin-top: 1rem;
}

/*Pagamento mínimo/ Atrasado*/

.main .container-blur{
    position: absolute;
    height: 300px;
    top: 15px;
}

input{
    width: 90%;
    margin-bottom: 1rem;
    padding: 8px;

    border: none;
    outline: none;
    border-radius: 50px;

    font-size: 1rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
}

.delayDay{
    position: absolute;
    top: 7px;
    right: 6rem;
}

img{
    width: 1rem;
    margin-left: 5px;
    cursor: pointer;
}

.sim-card{
    width: 2.5rem;
    margin:2.8rem;
    margin-left: 0;
}

.card-content1 p{
    text-align: left;
}

.card-content2 p{
    text-align: right;
}

.icons{
    position: absolute;
    width: 90%;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons img{
    width: 2rem;
    cursor: pointer;
}
